@{
    ViewData["Title"] = "Error";
}

<div class="h-100 d-flex justify-content-center align-items-center">
<div class=" alert alert-danger d-flex justify-content-center gap-2 fs-4" role="alert">
    <i class="bi bi-exclamation-circle-fill"></i>
    <div>
        @ViewData["Message"]
    </div>
</div>
</div>